---
layout: page
title: Token
token_active: active
html_class: white token
en: active
---

<div class="row row-hero">
  <div class="col-12 text-center">
    <h2>Players can grow bigger with Gold.</h2>
    <ul>
      <li>🔼 Obtain <u>a status bonus</u> proportional to the amount held</li>
      <li>🤓 Obtain <u> valuable items </u> through composition</li>
      <li>🤝 Collect <u> various items </u> through trading</li>
    </ul>
    <div class="hero-email-form">
      {% include email_form.html %}
    </div>
  </div>
</div>
<hr>
<div class="row row-moves">
  <div class="col-md-5 col-xs-12 text-center">
    <img src="/images/token_distribution.png" class="token-dist-chart">
  </div>
  <div class="col-md-7 col-xs-12">
    <h2>How can I earn Gold?</h2>
    <h3 class="token-method sales"><span class="circle">●</span> Buy gold at May Token Sales Event</h3>
    <p>Nekoyume Gold (NYG), which is available on the mainnet, will be sold in the form of the Ethereum ERC20 token. We will sell 21% of total  volume.<sup>1</sup></p>
    <h3 class="token-method team"><span class="circle">●</span> Participate in core team</h3>
    <p>During the intensive development period of the next one year, 9% of the gold reserves will be distributed to the core team members in proportion to the contribution amount. If you can help with development in any direction, please apply for support at <a class="mail" href="mailto:jc@nekoyu.me">jc@nekoyu.me</a> or send a Pull Request for the opened issue.</p>

    <h3 class="token-method network"><span class="circle">●</span> Participate in network</h3>
    <p>After launching the mainnet, you can get gold by providing the client  based on the published code, or creating the block by executing <code>$ neko</code>. It will be the largest of all rewards portion and will be the only way to earn Gold from 2019. The planned amount for 4 years is as follows.</p>

    <table class="table text-right">
      <thead>
        <tr>
          <th>Miner &amp; client incentive / 4y</th>
          <th>Reward</th>
          <th>Starting Year</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>134,553,600</td>
          <td>16</td>
          <td>2018</td>
        </tr>
        <tr>
          <td>67,276,800</td>
          <td>8</td>
          <td>2022</td>
        </tr>
        <tr>
          <td>33,638,400</td>
          <td>4</td>
          <td>2026</td>
        </tr>
        <tr>
          <td>16,819,200</td>
          <td>2</td>
          <td>2030</td>
        </tr>
        <tr>
          <td>8,409,600</td>
          <td>1</td>
          <td>2034</td>
        </tr>
      </tbody>
    </table>
    <p>If you would like to receive news about the token sales schedule, please enter your E-mail address in the form below.</p>
    {% include email_form.html %}
    <small>1: Total volume represents the 20-year volume including four half-lives. After 2038, block reward will be fixed at 1, resulting in inflation of about 0.5% per year.</small>
  </div>
</div>
