<form action="https://nekoyu.us12.list-manage.com/subscribe/post?u=199c8e032eb7e1922b17ddbed&amp;id=b29539c3e3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <div class="input-group mb-3">
      <input type="email" class="form-control" placeholder="E-mail address" aria-label="Type E-mail address." aria-describedby="basic-addon2" name="EMAIL">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit">Subscribe</button>
      </div>
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_199c8e032eb7e1922b17ddbed_b29539c3e3" tabindex="-1" value=""></div>
  </div>
</form>
