---
layout: page
title: Token
token_active: active
html_class: white token
ko: active
---

<div class="row row-hero">
  <div class="col-12 text-center">
    <h2>골드로 플레이어는 더 크게 성장할 수 있습니다.</h2>
    <ul>
      <li>🔼 보유량에 비례한 <u>능력치 보너스</u> 획득</li>
      <li>🤓 아이템 합성을 통한 <u>귀중품</u> 획득</li>
      <li>🤝 아이템 거래를 통한 <u>다양한 아이템</u> 수집</li>
    </ul>
    <div class="hero-email-form">
      {% include email_form_ko.html %}
    </div>
  </div>
</div>
<hr>
<div class="row row-moves">
  <div class="col-md-5 col-xs-12 text-center">
    <img src="/images/token_distribution.png" class="token-dist-chart">
  </div>
  <div class="col-md-7 col-xs-12">
    <h2>골드는 어떻게 얻나요?</h2>
    <h3 class="token-method sales"><span class="circle">●</span> 5월 골드 판매에 참여하기</h3>
    <p>다가오는 2018년 5월에 메인넷에서 사용할 수 있는 네코유메 골드(NYG)를 이더리움 ERC20 토큰 형태로 판매할 예정입니다. 총 발행량<sup>1</sup>의 21%를 판매할 예정이며, 이는 메인넷 런칭 이후 가장 먼저 사용할 수 있는 방법입니다.</p>
    <h3 class="token-method team"><span class="circle">●</span> 코어팀에 합류하기</h3>
    <p>향후 1년의 집중 개발 기간동안 코어팀에 참여하시는 분들께 예약된 9%의 골드를 기여량에 비례하여 분배할 예정입니다. 어느 방향으로든 개발에 도움이 되실 수 있으신 분들은 <a class="mail" href="mailto:jc@nekoyu.me">jc@nekoyu.me</a>로 지원 신청을 해주시거나, 오픈된 이슈에 대한 Pull Request를 보내주시기 바랍니다.</p>

    <h3 class="token-method network"><span class="circle">●</span> 네트워크에 참여하기</h3>
    <p>메인넷 런칭 이후, 공개된 코드를 바탕으로 플레이어에게 클라이언트를 제공하거나, <code>$ neko</code> 를 실행시켜 블록을 생성하면 이에 맞는 보상을 얻을 수 있습니다. 전체 보상 비중중 가장 큰 규모를 차지하며, 2019년부터 골드를 얻을 수 있는 유일한 방법이 될 예정입니다. 4년간 발행 예정량은 아래와 같습니다.</p>

    <table class="table text-right">
      <thead>
        <tr>
          <th>4년 발행 예정량</th>
          <th>블록 보상</th>
          <th>시작 예정 년도</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>134,553,600</td>
          <td>16</td>
          <td>2018</td>
        </tr>
        <tr>
          <td>67,276,800</td>
          <td>8</td>
          <td>2022</td>
        </tr>
        <tr>
          <td>33,638,400</td>
          <td>4</td>
          <td>2026</td>
        </tr>
        <tr>
          <td>16,819,200</td>
          <td>2</td>
          <td>2030</td>
        </tr>
        <tr>
          <td>8,409,600</td>
          <td>1</td>
          <td>2034</td>
        </tr>
      </tbody>
    </table>
    <p>토큰 판매 일정에 대해 소식을 전달받고 싶으시다면, 하단 양식에 이메일 주소를 입력해주세요.</p>
    {% include email_form_ko.html %}
    <small>1: 총 발행량은 4번의 반감기를 포함한 20년간의 발행량을 나타낸 것이며, 2038년 이후에는 블록 보상이 1로 고정되어 연간 약 0.5%의 인플레이션이 발생합니다.</small>
  </div>
</div>
