<!doctype html>
<html lang="en" class="{{ page.html_class }}">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TSTDPRV');</script>
    <!-- End Google Tag Manager -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>{{ page.title }} {% if page.title %}::{% endif %} Nekøyume</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:url"                content="https://nekoyu.me/" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Nekøyume – Decentralized Fantasy Role-playing Game" />
    <meta property="og:description"        content="처음 만나보는 블록체인 기반 판타지 롤플레잉 게임. 2018년 4월 프리뷰넷 소스코드 공개 예정." />
    <meta property="og:image"              content="https://nekoyu.me/images/og.jpg" />
    <meta property="fb:app_id"             content="767878560069222" />

    <link id="page_favicon" href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    <link href='/fonts/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css">
    <style>
    </style>
  </head>
  <body class="{{ page.body_class }}">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TSTDPRV"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{ content }}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://twemoji.maxcdn.com/2/twemoji.min.js?2.5"></script>
    <script>
      $('h3, .token .row-hero ul li').each(function(k, e) {
        $(e).html(twemoji.parse($(e).html()));
      });

      $(window).scroll(function() {
        if ($(window).width() >= 720 && window.pageYOffset  >= 440) {
          $('.token-dist-chart').css('margin-top',
                                     Math.min(window.pageYOffset - 440,
                                              840));
        }
        else {
          $('.token-dist-chart').css('margin-top', 'auto');
        }
      });
    </script>
  </body>
</html>
