---
layout: default
---
<main>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex h-100 p-3 mx-auto flex-column">
          <header class="masthead mb-auto">
            <div class="inner">
              <h3 class="masthead-brand hidden-sm">Nekøyume</h3>
              <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link {{ page.home_active }}" href="index.html">Home</a>
                <a class="nav-link {{ page.features_active }}" href="features.html">Features</a>
                <a class="nav-link {{ page.play_active }}" href="play.html">Play</a>
                <a class="nav-link {{ page.token_active }}" href="token.html">Token</a>
              </nav>
            </div>
          </header>
        </div>
      </div>
    </div>
    {{ content }}
  </div>
</main>
<footer class="main-footer text-muted">
  <div class="container p-3 p-md-5">
    <div class="row">
      <div class="col-12">
        <ul class="main-footer-links">
          <li><a href="https://github.com/nekoyume">GitHub</a></li>
          <li><a href="https://t.me/nekoyume">Telegram</a></li>
          <li><a href="docs/white_paper_ko.pdf">White Paper</a></li>
        </ul>
        <p>Maintained by the <a href="https://github.com/orgs/nekoyume/people">core team</a>.</p>
        <p>Code licensed <a href="https://github.com/nekoyume/nekoyume/blob/master/LICENSE" target="_blank" rel="license noopener">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC BY 3.0</a>.</p>
      </div>
    </div>
  </div>
</footer>
